<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                © 2022 <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i>
                    by Team 5.</span>
            </div>
        </div>
    </div>
</footer>