<div class="navbar-custom">
    <div class="container-fluid">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">

                <li class="has-submenu">
                    <a href="/api"><i class="dripicons-meter"></i>Dashboard</a>
                </li>

                <li class="has-submenu">
                    <a href="#"><i class="dripicons-broadcast"></i>Master</a>
                    <ul class="submenu">
                        <li><a href="/api/customers">Customer</a></li>
                        <li><a href="/api/transactions">Transaction</a></li>
                        <li><a href="/api/products">Product</a></li>
                        <li><a href="/api/brands">Brand</a></li>
                        <li><a href="/api/categories">Category</a></li>
                    </ul>
                </li>

            </ul>
            <!-- End navigation menu -->
        </div> <!-- end #navigation -->
    </div> <!-- end container -->
</div> <!-- end navbar-custom -->